<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Ravindra Valand's Authentication Learning Project</h1>
    <br>
    <a href="/secret"> Goto to Secret Destination</a>
    <a href="/register"> Go to Register</a>
    <br>
    <a href="/login"> Go to Login</a>
    <a href="/logout">Log out</a>
</body>
</html>