<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        .main{

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .main form label input{

            margin: 10px 0px    ;
        }

        .main form{
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <div class="main">
        <form action="api/login" method="post">

         
            <label for="email"> Enter Your e-mail id
                <input type="email" name="email" id="email" required>
            </label><br>
            <label for="password"> Enter Your Password
                <input type="password" name="password" id="password" required>
            </label><br>
          

            <input type="submit" value="Login" id="submit">
        </form>
    </div>

    <script>

    </script>
</body>

</html>