<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Images</title>
</head>

<body>
    <div class="images" id="images"></div>

    <script>
        const images = document.getElementById('images');
        const baseURL = 'http://localhost:5000/'
        async function photos (){
            const res = await fetch(baseURL+'photos');
            const data =await res.json();

            data.forEach(e=>{
                console.log(e);
            })
        }
    photos()
    </script>
</body>

</html>