<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Route</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .logout li a{
            text-decoration: none;
        }
        .logout li{
            list-style: none;
        }
        .logout{
            height: 100px;
            margin: 50px;
        }
        .main{
            margin: 20px;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="box">Hey You are Successfuly Logged in</div>
    </div>

    <div class="logout">
        <li>
            <a href="/logout"> Logout</a>
        </li>
    </div>
</body>
</html>