<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Route</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        nav{
            background-color: gray;
        }
        nav ul {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            gap: 20px;
        }
        nav ul li{
            list-style: none;
        }
        nav ul li a{
            text-decoration: none;
            color: white;
        }
        .logout li a{
            text-decoration: none;
        }
        .logout li{
            list-style: none;
        }
        .logout{
            height: 100px;
            margin: 50px;
        }
        .main{
            margin: 20px;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </header>
    <div class="main">
        <div class="box">Hey You are Successfuly Logged in</div>
    </div>

    <div class="logout">
        <li>
            <a href="/logout"> Logout</a>
        </li>
    </div>
</body>
</html>